
nav, nav-ul{
    list-style: none;
    font-size: 110%;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    color: midnightblue;
}
#nav-li{
    display:inline-flex;
    flex-direction: row;
    align-content: center;
}
#terms-li{
    display:flex;
    flex-direction:column;
    list-style:normal;
    
    
}


    
    
h3, h2{
    text-align: center;
    color: midnightblue;
    
}

    
#wrapper {
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    border: 1px #0000;
}
body{
    background-color: ghostwhite;
}
main{ 
    width: auto;
}
header, footer{
    background-color: lightskyblue;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

/* Media Queries*/

/* Tablet */

@media screen and (min-width:320px) {
    #nav-li {
        text-align: center;
    }
}

/* Desktop/Laptop */
@media screen and (min-width:1024px) {
    #weather-update {
        display: block;
        position: relative;
        left: 500px;
        bottom: 390px
    }

    