/* MOBILE */

header{ 
    background-color: midnightblue; 
    padding: 12px; 
    margin: 10px;
    ;}


nav{
    background-color:white;
    padding: 12px;
    margin: 25px;
    word-spacing: 12px /* leave at 25px so that nav items are evenly spaced through box and so that git works! */}



h1, h3 {
    color: ghostwhite;
    font-family: serif;
    background-color: midnightblue;}


h2 {font-size: 16px;}

h3 {background-color:midnightblue
    font-size: 24px;}



h4 {color: midnightblue}

p {
    color: ghostwhite;
    font-family: sans-serif;
    list-style: none;
    padding: 0px}


ul {
    list-style: none;
    padding: 0px;
    color: ghostwhite;
    background-color: midnightblue;
    display: inline-block}


section {
    background-color: midnightblue;
    padding: 12px; 
    margin: 10px;}

footer {
    background-color: midnightblue;
    padding: 12px;}

li {
    color: ghostwhite;
    
}


@media screen and (min-width:120px){
    #hourly-data
    {display: none}
    
    #weather-update
    {display:none}
}   


/* Tablet */

@media screen and (min-width:768px){
    #hourly-data 
    {display:block;}
    
    #weather-update
    {display:none;}
}

/* Desktop/Laptop */

@media screen and (min-width:1024px){
    #weather-update
    {display:block;
    position:relative; left: 500px; bottom: 250px}
    
    
    
}
