html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 600px){
    #page-header{
                width: 100%;
                text-align: center;
    }
    #page-nav{
            float: left;
            width: 30%;
            padding: 1em;
    }
    main{
        width: 40%;
        float: left;
        margin: 1em;
        padding: 1em;
    }
    #page-aside{
            float:left;
            width: 20%;
            padding: 1em;
    }
    #page-footer{
            clear: left;
    }
}

li{
    display: inline;
    
}

