<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Layout Test</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="layouts.css" media="screen">
</head>

<body>
    <div id="wrapper">
        <header id="page-header">
            <h1>Ipsum iudicem</h1></header>
        <div id="row">
        <nav id="page-nav">
            <ul>
                <li>ut summis</li>
                <li>quis do</li>
                <li>non a magna</li>
            </ul>
        </nav>
        <main>
            <h1>Content</h1>
            <p>quem sint et anim ab hic ipsum incurreret sed fugiat aliquip ne officia. Proident sint ita nostrud despicationes, nisi tempor eiusmod, mentitum ubi magna appellat, si quisingeniis laborum. Doctrina quo esse admodum. E fore senserit et consequat ipsum malis ea nulla.</p>
            <p>Ea aliqua minim ipsum senserit, qui lorem proident nescius eadolor offendit ab voluptate do quo an labore elit ipsum, de esse nescius et forecernantur aut philosophari e velit laborum ne minim elit, an singulis idlaboris.</p>
        </main>
        <aside id="page-aside">
            <h2>Additionally</h2>
            <p>Nam tamen vidisse nostrud, dolore excepteur id coniunctione, iudicem donoster probant, aut id ipsum dolore culpa ex de fugiat doctrina offendit itaelit deserunt ex aute nulla ita eu eiusmod domesticarum, a fugiat laboris.Varias ut pariatur quo aut legam amet se nostrud, ipsum ingeniis e philosophari,voluptate dolore malis incurreret dolor te noster quamquam ubi nostrud in namesse quorum ubi aliquip, cupidatat minim summis laboris culpa hic ubi tempor eupossumus.</p>
        </aside>
        </div>

        <footer id="page-footer">
            <p>&copy; 2016</p>
        </footer>
    </div>

</body>

</html>
