/* html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 600px){
    #page-header{
                width: 100%;
                text-align: center;
    }
    #page-nav{
            float: left;
            width: 30%;
            padding: 1em;
    }
    main{
        width: 40%;
        float: left;
        margin: 1em;
        padding: 1em;
    }
    #page-aside{
            float:left;
            width: 20%;
            padding: 1em;
    }
    #page-footer{
            clear: left;
    }
}

li{
    display: inline;
    
}
 */

#wrapper{
    display: flex;          /*takes everything inside wrapper div (parent container and flexes it)*/ 
    flex-wrap: wrap;        /*gives each thing its own space*/
}
#page-header{
    text-align: center;
}
#row{
    display: flex;          /* the wrapper is a flex container everything inside is a flex item, but you can make                         a chid a parent */
}
#page-nav{
    width: 20%;
}
main{
    width:50%;
}
#page-aside{
    width:30%;
}
#page-nav, main, #page-aside{
    border:1px solid #000;
}
    
